@import './common';
@import './fonts';

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@import './block/filters';


body {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'SF Pro Text';
  background: #f9f9f9;
}
.main {
  flex: 1 0 auto;
}
.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}



ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

// body {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-direction: column;
// }

.button{
  margin: 0;
  padding: 0;
}