@import './common';
@import './fonts';



body {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'SF Pro Text';
  background: #f9f9f9;
}
.main {
  flex: 1 0 auto;
}
.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}
